<%- include("partials/header") %>


<h1>Camp Grounds</h1>

<a href="/campground/new">Add New Campground</a>

<% campgrounds.forEach(function(campground, index){ %>
    <div>
        <h4> <%= campground.name %> </h4>
        <img src="<%= campground.image %>">
    </div>
<% }); %>

<%- include("partials/footer") %>
